In [1]:
print ("Rehan")

Rehan

## Type Function

In [1]:
a = "Anas"
print(type(a))

<class 'str'>

In [ ]:
b = 16
print(type(b))

<class 'int'>

In [4]:
c = 256.4
print(type(c))

<class 'float'>

## Input Function

In [ ]:
x = int(input("Enter Your Value"))
# Yaha Ma any ya lkaam ikegdhgf
print(x)

print(type(x))

5454
<class 'int'>

## Set

In [5]:
a = {1, 'a', 's', 'w'}
print(a)
print(type(a))

{1, 'a', 's', 'w'}
<class 'set'>

## Dictionary Datatype

In [10]:
a = {"1": "Farhan", "2": " Rehan"}
print(a)
print(type(a))

{'1': 'Farhan', '2': ' Rehan'}
<class 'dict'>

## Sequence Datatype

### List

In [12]:
a = [1,2,3,4,5,6,7,8]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

### String

In [13]:
a = "Heloo my name is Fala Fala "
b = 'Program''s Are WrittenBy Me '
c = "'My name is Farhan'"
print(a)
print(b)
print(c)

Heloo my name is Fala Fala
Programs Are WrittenBy Me
'My name is Farhan'

### Tuple

In [15]:
a = (1,1,2,3,44,)
print(a)
print(type(a))

(1, 1, 2, 3, 44)
<class 'tuple'>