##### Variables

In [ ]:
# Creating A Variable

In [2]:
## Integer Value To The Variable

a = 10
print (a)
print (type(a))

10
<class 'int'>

In [3]:
## Float Value To The Variable

b = 20.9 
print (b)
print (type(b))

20.9
<class 'float'>

In [5]:
## String Value To The Variable

c = "Python Programming"
print (c)
print (type(c))

Python Programming
<class 'str'>

In [7]:
## List Store In Variable 

a1 = [1,2,3,4,5]
print (a1)
print ( type(a1))

[1, 2, 3, 4, 5]
<class 'list'>

In [8]:
## Tuple Store In Variable 

b1 = (1,2,3,4,5,6)
print (b1)
print (type(b1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

## Type Conversion

In [ ]:
# Covert From One Data Type To Another Type Is Called 
# Type Conversion / Type Casting

In [3]:
a = int (input ("Enter The Value Of A : "))
print ("A : ",a)
print (type(a))

A :  32
<class 'int'>